## Machine Learning Process <font color='blue'> Flowchart </font>:
### 1. <font color='blue'> Importing Data to Python</font> 
    * Drop Duplicates 
### 2. <font color='blue'> Data Preprocessing:</font> 
    * Input-Output Split, Train-Test Split
    * Imputation, Processing Categorical, Normalization 
### 3. <font color='blue'> Training Machine Learning:</font> 
    * Choose Score to optimize and Hyperparameter Space
### 4. <font color='blue'> Test Prediction:</font> 
    * Evaluate model performance on Test Data

## 1. <font color='blue'> Importing Data to Python</font>

In [164]:
# Import libraries
# Import Numpy sebagai np
# Lalu import pandas sebagai pd
import pandas as pd
import numpy as np


## Dataset Information
 
 
### House Prices: Advanced Regression Techniques

Ask a home buyer to describe their dream house, and they probably won't begin with the height of the basement ceiling or the proximity to an east-west railroad. But this dataset proves that much more influences price negotiations than the number of bedrooms or a white-picket fence.

With 31 explanatory variables describing aspect of residential homes in Ames, Iowa, this exercise challenges you to predict the final price of each home.  

See data description here : https://drive.google.com/open?id=1tFd-1tD3Z13XJvz-JcMjHg6pg2-H8T3Wi-4fDIaZta0

In [165]:
# Baca dataset 
data = pd.read_csv("train.csv")

In [166]:
# Check 5 Observasi pertama dataset
data.head()

,Unnamed: 0,LotFrontage,LotArea,Utilities,MasVnrType,MasVnrArea,HouseStyle,Heating,BsmtQual,BsmtCond,...,GarageQual,GarageCond,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,SaleType,SaleCondition,SalePrice
0,0,65.0,8450,AllPub,BrkFace,196.0,2Story,GasA,Gd,TA,...,TA,TA,0,61,0,0,0,WD,Normal,208500
1,1,80.0,9600,AllPub,None,0.0,1Story,GasA,Gd,TA,...,TA,TA,298,0,0,0,0,WD,Normal,181500
2,2,68.0,11250,AllPub,BrkFace,162.0,2Story,GasA,Gd,TA,...,TA,TA,0,42,0,0,0,WD,Normal,223500
3,3,60.0,9550,AllPub,None,0.0,2Story,GasA,TA,Gd,...,TA,TA,0,35,272,0,0,WD,Abnorml,140000
4,4,84.0,14260,AllPub,BrkFace,350.0,2Story,GasA,Gd,TA,...,TA,TA,192,84,0,0,0,WD,Normal,250000

## Droping Duplicates

In [167]:
# Cek shape dari data yang akan di drop duplicate nya
data.shape

(1460, 33)

In [168]:
# Cek jika ada atau tidak observasi yang duplikat
data.duplicated().sum()

0

In [169]:
for i in data.columns:
    print (data[i].value_counts(True),'\n\n')

1459    0.000685
478     0.000685
480     0.000685
481     0.000685
482     0.000685
483     0.000685
484     0.000685
485     0.000685
486     0.000685
487     0.000685
488     0.000685
489     0.000685
490     0.000685
491     0.000685
492     0.000685
493     0.000685
494     0.000685
495     0.000685
496     0.000685
497     0.000685
498     0.000685
479     0.000685
477     0.000685
500     0.000685
476     0.000685
457     0.000685
458     0.000685
459     0.000685
460     0.000685
461     0.000685
          ...
995     0.000685
996     0.000685
997     0.000685
998     0.000685
999     0.000685
1000    0.000685
1001    0.000685
982     0.000685
981     0.000685
980     0.000685
969     0.000685
961     0.000685
962     0.000685
963     0.000685
964     0.000685
965     0.000685
966     0.000685
967     0.000685
968     0.000685
970     0.000685
979     0.000685
971     0.000685
972     0.000685
973     0.000685
974     0.000685
975     0.000685
976     0.000685
977     0.000685
978     0.000685
0       0.000685
Name: Unnamed: 0, Length: 1460, dtype: float64


60.0     0.119067
70.0     0.058285
80.0     0.057452
50.0     0.047460
75.0     0.044130
65.0     0.036636
85.0     0.033306
78.0     0.020816
21.0     0.019151
90.0     0.019151
68.0     0.015820
24.0     0.015820
64.0     0.015820
73.0     0.014988
72.0     0.014155
79.0     0.014155
63.0     0.014155
55.0     0.014155
100.0    0.013322
51.0     0.012490
66.0     0.012490
74.0     0.012490
52.0     0.011657
59.0     0.010824
71.0     0.009992
82.0     0.009992
40.0     0.009992
43.0     0.009992
67.0     0.009992
57.0     0.009992
           ...
129.0    0.001665
124.0    0.001665
118.0    0.001665
101.0    0.001665
122.0    0.001665
121.0    0.001665
115.0    0.001665
109.0    0.001665
116.0    0.001665
114.0    0.001665
150.0    0.000833
111.0    0.000833
153.0    0.000833
182.0    0.000833
46.0     0.000833
112.0    0.000833
149.0    0.000833
141.0    0.000833
33.0     0.000833
152.0    0.000833
160.0    0.000833
168.0    0.000833
128.0    0.000833
144.0    0.000833
39.0     0.000833
106.0    0.000833
38.0     0.000833
138.0    0.000833
140.0    0.000833
137.0    0.000833
Name: LotFrontage, Length: 110, dtype: float64


7200     0.017123
9600     0.016438
6000     0.011644
10800    0.009589
9000     0.009589
8400     0.009589
1680     0.006849
7500     0.006164
8125     0.005479
9100     0.005479
6120     0.005479
6240     0.005479
3182     0.004795
7800     0.004110
8450     0.004110
10000    0.003425
4500     0.003425
4435     0.003425
5000     0.003425
10140    0.003425
9750     0.003425
10400    0.003425
5400     0.003425
7018     0.002740
11700    0.002740
9375     0.002740
8800     0.002740
9900     0.002740
8750     0.002740
6600     0.002740
           ...
3136     0.000685
13418    0.000685
10448    0.000685
8849     0.000685
7313     0.000685
11425    0.000685
13472    0.000685
8029     0.000685
11952    0.000685
9738     0.000685
12936    0.000685
5271     0.000685
11414    0.000685
12122    0.000685
9364     0.000685
7314     0.000685
9360     0.000685
16226    0.000685
11404    0.000685
15498    0.000685
9353     0.000685
11400    0.000685
14175    0.000685
7301     0.000685
11394    0.000685
7094     0.000685
6130     0.000685
9337     0.000685
5232     0.000685
8190     0.000685
Name: LotArea, Length: 1073, dtype: float64


AllPub    0.999315
NoSeWa    0.000685
Name: Utilities, dtype: float64


None       0.595041
BrkFace    0.306474
Stone      0.088154
BrkCmn     0.010331
Name: MasVnrType, dtype: float64


0.0       0.592975
72.0      0.005510
180.0     0.005510
108.0     0.005510
120.0     0.004821
16.0      0.004821
80.0      0.004132
200.0     0.004132
106.0     0.004132
340.0     0.004132
170.0     0.003444
132.0     0.003444
360.0     0.003444
84.0      0.003444
320.0     0.003444
100.0     0.002755
196.0     0.002755
246.0     0.002755
216.0     0.002755
160.0     0.002755
183.0     0.002755
178.0     0.002755
270.0     0.002755
300.0     0.002755
210.0     0.002755
268.0     0.002755
252.0     0.002755
168.0     0.002755
336.0     0.002755
220.0     0.002755
            ...
14.0      0.000689
53.0      0.000689
24.0      0.000689
127.0     0.000689
365.0     0.000689
115.0     0.000689
562.0     0.000689
259.0     0.000689
378.0     0.000689
219.0     0.000689
161.0     0.000689
247.0     0.000689
109.0     0.000689
278.0     0.000689
375.0     0.000689
225.0     0.000689
604.0     0.000689
762.0     0.000689
290.0     0.000689
299.0     0.000689
202.0     0.000689
731.0     0.000689
167.0     0.000689
309.0     0.000689
1129.0    0.000689
651.0     0.000689
337.0     0.000689
415.0     0.000689
293.0     0.000689
621.0     0.000689
Name: MasVnrArea, Length: 327, dtype: float64


1Story    0.497260
2Story    0.304795
1.5Fin    0.105479
SLvl      0.044521
SFoyer    0.025342
1.5Unf    0.009589
2.5Unf    0.007534
2.5Fin    0.005479
Name: HouseStyle, dtype: float64


GasA     0.978082
GasW     0.012329
Grav     0.004795
Wall     0.002740
OthW     0.001370
Floor    0.000685
Name: Heating, dtype: float64


TA    0.456079
Gd    0.434294
Ex    0.085032
Fa    0.024596
Name: BsmtQual, dtype: float64


TA    0.921293
Gd    0.045678
Fa    0.031623
Po    0.001405
Name: BsmtCond, dtype: float64


No    0.670183
Av    0.155415
Gd    0.094233
Mn    0.080169
Name: BsmtExposure, dtype: float64


Unf    0.302178
GLQ    0.293746
ALQ    0.154603
BLQ    0.104006
Rec    0.093465
LwQ    0.052003
Name: BsmtFinType1, dtype: float64


0       0.319863
24      0.008219
16      0.006164
20      0.003425
686     0.003425
616     0.003425
936     0.003425
662     0.003425
428     0.002740
655     0.002740
442     0.002740
1200    0.002740
400     0.002740
300     0.002740
312     0.002740
495     0.002740
384     0.002740
697     0.002740
641     0.002740
360     0.002740
560     0.002740
588     0.002740
547     0.002740
504     0.002740
600     0.002740
553     0.002740
674     0.002055
1036    0.002055
403     0.002055
672     0.002055
          ...
642     0.000685
644     0.000685
645     0.000685
607     0.000685
1014    0.000685
1071    0.000685
572     0.000685
554     0.000685
556     0.000685
559     0.000685
1070    0.000685
562     0.000685
564     0.000685
566     0.000685
1064    0.000685
568     0.000685
1053    0.000685
573     0.000685
602     0.000685
575     0.000685
1046    0.000685
580     0.000685
585     0.000685
586     0.000685
592     0.000685
1032    0.000685
1022    0.000685
599     0.000685
1018    0.000685
1904    0.000685
Name: BsmtFinSF1, Length: 637, dtype: float64


Unf    0.883263
Rec    0.037975
LwQ    0.032349
BLQ    0.023207
ALQ    0.013361
GLQ    0.009845
Name: BsmtFinType2, dtype: float64


0       0.885616
180     0.003425
374     0.002055
551     0.001370
93      0.001370
468     0.001370
147     0.001370
480     0.001370
539     0.001370
712     0.001370
117     0.001370
279     0.001370
96      0.001370
391     0.001370
287     0.001370
290     0.001370
294     0.001370
64      0.001370
41      0.001370
182     0.001370
469     0.001370
228     0.000685
208     0.000685
210     0.000685
211     0.000685
202     0.000685
215     0.000685
193     0.000685
219     0.000685
184     0.000685
          ...
354     0.000685
1080    0.000685
1127    0.000685
375     0.000685
377     0.000685
380     0.000685
396     0.000685
400     0.000685
411     0.000685
420     0.000685
435     0.000685
438     0.000685
441     0.000685
465     0.000685
466     0.000685
472     0.000685
479     0.000685
486     0.000685
491     0.000685
492     0.000685
495     0.000685
499     0.000685
500     0.000685
506     0.000685
531     0.000685
532     0.000685
544     0.000685
546     0.000685
547     0.000685
1474    0.000685
Name: BsmtFinSF2, Length: 144, dtype: float64


SBrkr    0.914325
FuseA    0.064428
FuseF    0.018506
FuseP    0.002056
Mix      0.000685
Name: Electrical, dtype: float64


864     0.017123
1040    0.010959
912     0.009589
848     0.008219
894     0.008219
672     0.007534
816     0.006164
630     0.006164
936     0.004795
960     0.004795
483     0.004795
832     0.004795
764     0.004110
990     0.004110
728     0.004110
1056    0.004110
840     0.004110
882     0.004110
1728    0.004110
720     0.004110
796     0.003425
1494    0.003425
1422    0.003425
520     0.003425
1072    0.003425
1080    0.003425
616     0.003425
798     0.003425
1236    0.003425
958     0.003425
          ...
1223    0.000685
1225    0.000685
1229    0.000685
1235    0.000685
1238    0.000685
1240    0.000685
1241    0.000685
1242    0.000685
1090    0.000685
1244    0.000685
1247    0.000685
1248    0.000685
1249    0.000685
1251    0.000685
1256    0.000685
1260    0.000685
1261    0.000685
1265    0.000685
1272    0.000685
1274    0.000685
1279    0.000685
1281    0.000685
1282    0.000685
1283    0.000685
1284    0.000685
1285    0.000685
1287    0.000685
1288    0.000685
1297    0.000685
2053    0.000685
Name: 1stFlrSF, Length: 753, dtype: float64


0       0.567808
728     0.006849
504     0.006164
672     0.005479
546     0.005479
720     0.004795
600     0.004795
896     0.004110
780     0.003425
862     0.003425
689     0.003425
840     0.003425
756     0.003425
702     0.002740
739     0.002740
551     0.002740
741     0.002740
878     0.002740
804     0.002740
670     0.002055
660     0.002055
1254    0.002055
793     0.002055
668     0.002055
795     0.002055
742     0.002055
832     0.002055
684     0.002055
846     0.002055
807     0.002055
          ...
811     0.000685
812     0.000685
1097    0.000685
817     0.000685
826     0.000685
828     0.000685
1096    0.000685
830     0.000685
831     0.000685
1093    0.000685
1092    0.000685
1104    0.000685
798     0.000685
1106    0.000685
1121    0.000685
769     0.000685
772     0.000685
776     0.000685
778     0.000685
779     0.000685
1122    0.000685
784     0.000685
796     0.000685
1120    0.000685
787     0.000685
788     0.000685
1116    0.000685
1112    0.000685
1111    0.000685
1872    0.000685
Name: 2ndFlrSF, Length: 417, dtype: float64


0    0.472603
1    0.445205
2    0.078767
3    0.003425
Name: Fireplaces, dtype: float64


Attchd     0.630892
Detchd     0.280638
BuiltIn    0.063814
Basment    0.013778
CarPort    0.006526
2Types     0.004351
Name: GarageType, dtype: float64


Unf    0.438724
RFn    0.306019
Fin    0.255257
Name: GarageFinish, dtype: float64


2    0.564384
1    0.252740
3    0.123973
0    0.055479
4    0.003425
Name: GarageCars, dtype: float64


0       0.055479
440     0.033562
576     0.032192
240     0.026027
484     0.023288
528     0.022603
288     0.018493
400     0.017123
480     0.016438
264     0.016438
308     0.013699
420     0.013014
280     0.010959
672     0.010274
216     0.008219
504     0.008219
336     0.008219
352     0.008219
360     0.007534
564     0.007534
300     0.006849
462     0.006849
572     0.006849
540     0.006849
539     0.006164
660     0.006164
180     0.006164
384     0.006164
312     0.006164
286     0.006164
          ...
414     0.000685
413     0.000685
768     0.000685
455     0.000685
708     0.000685
757     0.000685
711     0.000685
714     0.000685
481     0.000685
716     0.000685
479     0.000685
719     0.000685
477     0.000685
721     0.000685
475     0.000685
722     0.000685
726     0.000685
732     0.000685
738     0.000685
739     0.000685
740     0.000685
748     0.000685
749     0.000685
752     0.000685
753     0.000685
754     0.000685
459     0.000685
458     0.000685
756     0.000685
1418    0.000685
Name: GarageArea, Length: 441, dtype: float64


TA    0.950689
Fa    0.034808
Gd    0.010152
Po    0.002175
Ex    0.002175
Name: GarageQual, dtype: float64


TA    0.961566
Fa    0.025381
Gd    0.006526
Po    0.005076
Ex    0.001450
Name: GarageCond, dtype: float64


0      0.521233
192    0.026027
100    0.024658
144    0.022603
120    0.021233
168    0.019178
140    0.010274
224    0.009589
240    0.006849
208    0.006849
216    0.006164
180    0.005479
160    0.005479
250    0.004110
132    0.004110
264    0.004110
143    0.004110
96     0.004110
156    0.004110
171    0.003425
48     0.003425
196    0.003425
105    0.003425
288    0.003425
210    0.003425
220    0.002740
158    0.002740
104    0.002740
147    0.002740
74     0.002740
         ...
183    0.000685
181    0.000685
179    0.000685
245    0.000685
255    0.000685
340    0.000685
304    0.000685
333    0.000685
327    0.000685
326    0.000685
325    0.000685
321    0.000685
312    0.000685
309    0.000685
307    0.000685
306    0.000685
305    0.000685
303    0.000685
257    0.000685
301    0.000685
298    0.000685
295    0.000685
294    0.000685
283    0.000685
278    0.000685
269    0.000685
265    0.000685
263    0.000685
260    0.000685
215    0.000685
Name: WoodDeckSF, Length: 274, dtype: float64


0      0.449315
36     0.019863
48     0.015068
20     0.014384
40     0.013014
45     0.013014
30     0.010959
24     0.010959
60     0.010274
39     0.009589
28     0.009589
44     0.008904
50     0.008904
54     0.008904
72     0.008219
98     0.007534
63     0.007534
35     0.007534
32     0.007534
75     0.006849
42     0.006849
120    0.006849
96     0.006849
64     0.006164
66     0.006164
16     0.005479
78     0.005479
56     0.005479
38     0.005479
84     0.005479
         ...
123    0.000685
523    0.000685
118    0.000685
117    0.000685
106    0.000685
103    0.000685
101    0.000685
95     0.000685
94     0.000685
93     0.000685
134    0.000685
137    0.000685
199    0.000685
141    0.000685
195    0.000685
191    0.000685
189    0.000685
188    0.000685
187    0.000685
185    0.000685
182    0.000685
180    0.000685
176    0.000685
175    0.000685
174    0.000685
159    0.000685
156    0.000685
148    0.000685
142    0.000685
119    0.000685
Name: OpenPorchSF, Length: 202, dtype: float64


0      0.857534
112    0.010274
96     0.004110
120    0.003425
144    0.003425
192    0.003425
216    0.003425
252    0.002740
116    0.002740
156    0.002740
126    0.002055
228    0.002055
128    0.002055
184    0.002055
102    0.002055
150    0.002055
40     0.002055
176    0.002055
164    0.002055
77     0.001370
185    0.001370
80     0.001370
180    0.001370
84     0.001370
160    0.001370
168    0.001370
205    0.001370
158    0.001370
154    0.001370
100    0.001370
         ...
239    0.000685
242    0.000685
248    0.000685
280    0.000685
254    0.000685
259    0.000685
268    0.000685
198    0.000685
194    0.000685
129    0.000685
148    0.000685
130    0.000685
134    0.000685
136    0.000685
138    0.000685
140    0.000685
143    0.000685
272    0.000685
145    0.000685
386    0.000685
291    0.000685
162    0.000685
169    0.000685
170    0.000685
172    0.000685
174    0.000685
177    0.000685
183    0.000685
189    0.000685
552    0.000685
Name: EnclosedPorch, Length: 120, dtype: float64


0      0.983562
168    0.002055
216    0.001370
144    0.001370
180    0.001370
245    0.000685
238    0.000685
290    0.000685
196    0.000685
182    0.000685
407    0.000685
304    0.000685
162    0.000685
153    0.000685
320    0.000685
140    0.000685
130    0.000685
96     0.000685
23     0.000685
508    0.000685
Name: 3SsnPorch, dtype: float64


0      0.920548
192    0.004110
224    0.003425
120    0.003425
189    0.002740
180    0.002740
160    0.002055
168    0.002055
144    0.002055
126    0.002055
147    0.002055
90     0.002055
200    0.001370
198    0.001370
216    0.001370
184    0.001370
259    0.001370
100    0.001370
176    0.001370
170    0.001370
288    0.001370
142    0.001370
153    0.000685
154    0.000685
152    0.000685
155    0.000685
145    0.000685
156    0.000685
143    0.000685
322    0.000685
         ...
163    0.000685
165    0.000685
291    0.000685
287    0.000685
276    0.000685
273    0.000685
271    0.000685
266    0.000685
265    0.000685
263    0.000685
260    0.000685
252    0.000685
234    0.000685
233    0.000685
225    0.000685
374    0.000685
222    0.000685
220    0.000685
210    0.000685
204    0.000685
197    0.000685
385    0.000685
190    0.000685
396    0.000685
185    0.000685
182    0.000685
440    0.000685
178    0.000685
312    0.000685
480    0.000685
Name: ScreenPorch, Length: 76, dtype: float64


WD       0.867808
New      0.083562
COD      0.029452
ConLD    0.006164
ConLw    0.003425
ConLI    0.003425
CWD      0.002740
Oth      0.002055
Con      0.001370
Name: SaleType, dtype: float64


Normal     0.820548
Partial    0.085616
Abnorml    0.069178
Family     0.013699
Alloca     0.008219
AdjLand    0.002740
Name: SaleCondition, dtype: float64


140000    0.013699
135000    0.011644
145000    0.009589
155000    0.009589
190000    0.008904
110000    0.008904
160000    0.008219
115000    0.008219
139000    0.007534
130000    0.007534
125000    0.006849
143000    0.006849
185000    0.006849
180000    0.006849
144000    0.006849
175000    0.006164
147000    0.006164
100000    0.006164
127000    0.006164
165000    0.005479
176000    0.005479
170000    0.005479
129000    0.005479
230000    0.005479
250000    0.005479
200000    0.005479
141000    0.005479
215000    0.005479
148000    0.004795
173000    0.004795
            ...
64500     0.000685
326000    0.000685
277500    0.000685
259000    0.000685
254900    0.000685
131400    0.000685
181134    0.000685
142953    0.000685
245350    0.000685
121600    0.000685
337500    0.000685
228950    0.000685
274000    0.000685
317000    0.000685
154500    0.000685
52000     0.000685
107400    0.000685
218000    0.000685
104000    0.000685
68500     0.000685
94000     0.000685
466500    0.000685
410000    0.000685
437154    0.000685
219210    0.000685
84900     0.000685
424870    0.000685
415298    0.000685
62383     0.000685
34900     0.000685
Name: SalePrice, Length: 663, dtype: float64

In [170]:
numeric = data._get_numeric_data()
numeric = data.drop("Fireplaces", axis = 1)
numeric.shape

(1460, 32)

In [171]:
categoric = ['MasVnrType', "HouseStyle",
             "BsmtQual", "BsmtExposure", "BsmtFinType1", 
            "Fireplaces", "GarageType", 
             "GarageFinish", "SaleType", 
             "SaleCondition"]
categoric_numeric = ['FirePlaces']
drop =['Unnamed: 0','Heating','Utilities', "BsmtCond","BsmtFinType2","Electrical", "GarageQual",
       "GarageCond",'BsmtFinSF2','EnclosedPorch','3SsnPorch','ScreenPorch']
numeric = [x for x in data.columns if x not in categoric and x not in drop]

### Make function to import and drop 

Buat lah sebuah function dengan spesifikasi:

 1. import data
 2. cek JUMLAH OBSERVASI dan JUMLAH COLUMN
 3. drop duplicate
 4. drop unnecassary column
 5. cek JUMLAH OBSERVASI dan JUMLAH COLUMN, setelah di-drop
 6. return data setelah di-drop

Function dinamakan dengan `import_data` dan menerima 2 argument yaitu:

 1. `filename`: Direktori dimana data tersimpan
 2. `drop`    : Nama kolom yang ingin di hapus
 
Lalu assign function tersebut pada suatu variabel yang dengan nama `data`

In [172]:
# Buatlah function 
def importData(filepath, drop_columns):
    data = pd.read_csv(filepath)
    data = data.drop(drop_columns, axis = 1)
    data = data.drop_duplicates()
    
    return data

In [173]:
# Assign fuction kepada variabel data

data = importData("train.csv", drop)

## 2. <font color='blue'>Data Preprocessing </font>
### Input-Output Split

Disini kita akan memisahkan kolom berdasarkan input dan output.

Data yang digunakan untuk input akan dinamakan dengan `X`, sedangkan untuk output dengan `y`.

Pada dataset ini, kita hanya perlu menggunakan kolom `SalePrice` sebagai output kita.

In [174]:
# Cek data menggunakan head()
data.head()

,LotFrontage,LotArea,MasVnrType,MasVnrArea,HouseStyle,BsmtQual,BsmtExposure,BsmtFinType1,BsmtFinSF1,1stFlrSF,...,Fireplaces,GarageType,GarageFinish,GarageCars,GarageArea,WoodDeckSF,OpenPorchSF,SaleType,SaleCondition,SalePrice
0,65.0,8450,BrkFace,196.0,2Story,Gd,No,GLQ,706,856,...,0,Attchd,RFn,2,548,0,61,WD,Normal,208500
1,80.0,9600,None,0.0,1Story,Gd,Gd,ALQ,978,1262,...,1,Attchd,RFn,2,460,298,0,WD,Normal,181500
2,68.0,11250,BrkFace,162.0,2Story,Gd,Mn,GLQ,486,920,...,1,Attchd,RFn,2,608,0,42,WD,Normal,223500
3,60.0,9550,None,0.0,2Story,TA,No,ALQ,216,961,...,1,Detchd,Unf,3,642,0,35,WD,Abnorml,140000
4,84.0,14260,BrkFace,350.0,2Story,Gd,Av,GLQ,655,1145,...,1,Attchd,RFn,3,836,192,84,WD,Normal,250000

### Make function for input and output

Buatlah sebuah function dengan kriteria dibawah ini:

1. data_input
2. data_output
3. return data_input dan data_output
* Tujuan dari pembuatan function adalah agar function ini dapat digunakan kembali di cases berbeda. 

Function dinamakan dengan `extract_input_output` dan menerima 2 argument yaitu:

1. `data`        : Dataset yang ingin di split
2. `column_name` : Nama kolom yang ingin di jadikan output

In [175]:
# Buatlah function tersebut disini
data = data.drop("Fireplaces",axis=1)
def extractInputOutput(data, output):
    y = data[output]
    x = data.drop(output, axis=1)
    print(x.columns) #optional
    print(y.head()) #optional
    return x,y

# Assign hasil dari funtion tersebut kepada X, y.
# X: data input
# y: data output
x,y = extractInputOutput(data, 'SalePrice')

Index(['LotFrontage', 'LotArea', 'MasVnrType', 'MasVnrArea', 'HouseStyle',
       'BsmtQual', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinSF1', '1stFlrSF',
       '2ndFlrSF', 'GarageType', 'GarageFinish', 'GarageCars', 'GarageArea',
       'WoodDeckSF', 'OpenPorchSF', 'SaleType', 'SaleCondition'],
      dtype='object')
0    208500
1    181500
2    223500
3    140000
4    250000
Name: SalePrice, dtype: int64

## Train and Test Split

Pada bagian ini, X dan y akan dibagi menjadi 2 set yaitu training dan tes. Kita akan menggunakan function dari library Scikit Learn yaitu `train_test_split`.

In [176]:
# import function train_test_split dari library Scikit Learn
from sklearn.model_selection import train_test_split

#### Train Test Split Function
1. x adalah input
2. y adalah output
3. test size = seberapa besar test, contoh 0.20 untuk 20% test dari data
4. random state adalah kunci untuk random, harus disetting sama, misal random_state = 123
5. Output: 
    * x_train = input dari data training
    * x_test = input dari data test
    * y_train = output dari training data
    * y_test = output dari training data
6. urutan dari x_train, x_test, y_train dan y_test tidak boleh terbalik

In [177]:
# Split dataset
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size =0.2,
                                                        random_state =100)

In [178]:
# Cek shape untuk tiap set (X_train, X_test, y_train, y_test)
print(x_train.head(), y_train.head()) #
print(x_test.head(), y_test.head()) #

      LotFrontage  LotArea MasVnrType  MasVnrArea HouseStyle BsmtQual  \
657          60.0     7200       None         0.0     2Story       Gd
965          65.0    10237       None         0.0     2Story       Gd
1441          NaN     4426    BrkFace       147.0     1Story       Gd
1444         63.0     8500    BrkFace       106.0     1Story       Gd
522          50.0     5000       None         0.0     1.5Fin       TA

     BsmtExposure BsmtFinType1  BsmtFinSF1  1stFlrSF  2ndFlrSF GarageType  \
657            No          Unf           0       851       651     Attchd
965            No          Unf           0       783       701     Attchd
1441           Av          GLQ         697       848         0     Attchd
1444           Av          Unf           0      1422         0     Attchd
522            No          ALQ         399      1004       660     Detchd

     GarageFinish  GarageCars  GarageArea  WoodDeckSF  OpenPorchSF SaleType  \
657           RFn           1         270           0            0       WD
965           Fin           2         393           0           72      New
1441          RFn           2         420         149            0       WD
1444          RFn           2         626         192           60       WD
522           Unf           2         420           0           24       WD

     SaleCondition
657         Normal
965        Partial
1441        Normal
1444        Normal
522         Normal   657     149000
965     178900
1441    149300
1444    179600
522     159000
Name: SalePrice, dtype: int64
     LotFrontage  LotArea MasVnrType  MasVnrArea HouseStyle BsmtQual  \
790         43.0     3182    BrkFace        11.0     1Story       Gd
426          NaN    12800    BrkFace       145.0       SLvl       Gd
205         99.0    11851       None         0.0     1Story       Gd
118         90.0    12376       None         0.0     2Story       Gd
245         80.0    10400    BrkFace       102.0     1Story       Gd

    BsmtExposure BsmtFinType1  BsmtFinSF1  1stFlrSF  2ndFlrSF GarageType  \
790           No          GLQ          16      1145         0     Attchd
426           Gd          GLQ        1518      1644         0     Attchd
205           No          Unf           0      1442         0     Attchd
118           Mn          GLQ        1470      1699      1523     Attchd
245           Av          GLQ         929      1872         0     Attchd

    GarageFinish  GarageCars  GarageArea  WoodDeckSF  OpenPorchSF SaleType  \
790          Fin           2         397         100           16       WD
426          Fin           2         569          80            0       WD
205          RFn           2         500           0           34       WD
118          Unf           3         594         367            0       WD
245          Fin           2         604         197           39       WD

    SaleCondition
790        Normal
426        Normal
205        Normal
118        Normal
245        Normal   790    160200
426    275000
205    180500
118    320000
245    241500
Name: SalePrice, dtype: int64

## Separating Numerical and Categorical Data Manually

## Getting Numerical

In [179]:
# get numeric using ._get_numeric_data()
x_train_num = x._get_numeric_data()

In [180]:
# check the columns
x_train_num.columns

Index(['LotFrontage', 'LotArea', 'MasVnrArea', 'BsmtFinSF1', '1stFlrSF',
       '2ndFlrSF', 'GarageCars', 'GarageArea', 'WoodDeckSF', 'OpenPorchSF'],
      dtype='object')

In [181]:
x_train_num.head()

,LotFrontage,LotArea,MasVnrArea,BsmtFinSF1,1stFlrSF,2ndFlrSF,GarageCars,GarageArea,WoodDeckSF,OpenPorchSF
0,65.0,8450,196.0,706,856,854,2,548,0,61
1,80.0,9600,0.0,978,1262,0,2,460,298,0
2,68.0,11250,162.0,486,920,866,2,608,0,42
3,60.0,9550,0.0,216,961,756,3,642,0,35
4,84.0,14260,350.0,655,1145,1053,3,836,192,84

## Getting Categorical

In [182]:
# Get Categorical
x_train_cat = x.drop(x_train_num, axis=1)

In [183]:
# check the top observations!
x_train_cat.head()

,MasVnrType,HouseStyle,BsmtQual,BsmtExposure,BsmtFinType1,GarageType,GarageFinish,SaleType,SaleCondition
0,BrkFace,2Story,Gd,No,GLQ,Attchd,RFn,WD,Normal
1,None,1Story,Gd,Gd,ALQ,Attchd,RFn,WD,Normal
2,BrkFace,2Story,Gd,Mn,GLQ,Attchd,RFn,WD,Normal
3,None,2Story,TA,No,ALQ,Detchd,Unf,WD,Abnorml
4,BrkFace,2Story,Gd,Av,GLQ,Attchd,RFn,WD,Normal

### Make a function for Separating Numerical and Categorical

In [184]:
# Def a function that returns x_train numerical and x_train categorical
def splitNumCat(data):
    data_num = data._get_numeric_data()
    data_cat = data.drop(list(data_num.columns.values) , axis = 1)

    return data_num, data_cat

x_train_num, x_train_cat = splitNumCat(x_train)

In [185]:
# check the top of the x_train numerical observations!
x_train_num.head()

,LotFrontage,LotArea,MasVnrArea,BsmtFinSF1,1stFlrSF,2ndFlrSF,GarageCars,GarageArea,WoodDeckSF,OpenPorchSF
657,60.0,7200,0.0,0,851,651,1,270,0,0
965,65.0,10237,0.0,0,783,701,2,393,0,72
1441,NaN,4426,147.0,697,848,0,2,420,149,0
1444,63.0,8500,106.0,0,1422,0,2,626,192,60
522,50.0,5000,0.0,399,1004,660,2,420,0,24

In [186]:
# check the top of the x_train categorical observations!
x_train_cat.head()

,MasVnrType,HouseStyle,BsmtQual,BsmtExposure,BsmtFinType1,GarageType,GarageFinish,SaleType,SaleCondition
657,None,2Story,Gd,No,Unf,Attchd,RFn,WD,Normal
965,None,2Story,Gd,No,Unf,Attchd,Fin,New,Partial
1441,BrkFace,1Story,Gd,Av,GLQ,Attchd,RFn,WD,Normal
1444,BrkFace,1Story,Gd,Av,Unf,Attchd,RFn,WD,Normal
522,None,1.5Fin,TA,No,ALQ,Detchd,Unf,WD,Normal

## Data Imputation

Data imputation adalah proses pengisian data yang memiliki data yang kosong, biasanya diperlihatkan sebagai NaN

Proses tersebut terbagi menjadi 2:
* Numerical Imputation
* Categorical Imputation

In [187]:
# Cek data yang kosong di traininig set input
x_train.isnull().sum()

LotFrontage      209
LotArea            0
MasVnrType         7
MasVnrArea         7
HouseStyle         0
BsmtQual          26
BsmtExposure      27
BsmtFinType1      26
BsmtFinSF1         0
1stFlrSF           0
2ndFlrSF           0
GarageType        68
GarageFinish      68
GarageCars         0
GarageArea         0
WoodDeckSF         0
OpenPorchSF        0
SaleType           0
SaleCondition      0
dtype: int64

## Numerical Data Imputation

### Checking for NaN (Not A Number)

In [188]:
# check the missing value of the x_train_num
x_train_num.isnull().sum()

LotFrontage    209
LotArea          0
MasVnrArea       7
BsmtFinSF1       0
1stFlrSF         0
2ndFlrSF         0
GarageCars       0
GarageArea       0
WoodDeckSF       0
OpenPorchSF      0
dtype: int64

In [189]:
# Import library for imputation
from sklearn.preprocessing import Imputer

In [190]:
# namakan function Imputer menjadi imput, jangan lupa tanda kurung ()
# missing_values adalah tanda missing values dalam data, bisa NaN, bisa 9999, bisa "KOSONG"
# strategy median adalah stragegy imputasi, jika data kosong, maka data diganti dengan median
# strategy bisa diganti dengan mean atau rata-rata
# see median: https://en.wikipedia.org/wiki/Median

imput = Imputer(missing_values='NaN', strategy='median')

* fit: imputer agar mengetahui mean atau median  dari setiap column
* transform: isi data dengan median atau mean
* output dari transform berupda pd dataframe
* namakan column dari x_train_numerical_imputed sesuai dengan x_train_numerical.
     - MENGAPA? karena kita kehilangan nama column setelah data imputation
* beri index dari x_train_numerical_imputed sesuai dengan x_train_numerical.
     - MENGAPA? karena kita kehilangan index setelah data imputation

In [191]:
# isi perintah yang akan dibuat di dalam fungsi baru
# imputer perlu difitting ke data 
imput.fit(x_train_num)
x_train_num_imputed = pd.DataFrame(imput.transform(x_train_num))
x_train_num_imputed.columns = x_train_num.columns
x_train_num_imputed.index =  x_train_num.index

In [192]:
# cek x_train_num_imputed
x_train_num_imputed.head()

,LotFrontage,LotArea,MasVnrArea,BsmtFinSF1,1stFlrSF,2ndFlrSF,GarageCars,GarageArea,WoodDeckSF,OpenPorchSF
657,60.0,7200.0,0.0,0.0,851.0,651.0,1.0,270.0,0.0,0.0
965,65.0,10237.0,0.0,0.0,783.0,701.0,2.0,393.0,0.0,72.0
1441,68.0,4426.0,147.0,697.0,848.0,0.0,2.0,420.0,149.0,0.0
1444,63.0,8500.0,106.0,0.0,1422.0,0.0,2.0,626.0,192.0,60.0
522,50.0,5000.0,0.0,399.0,1004.0,660.0,2.0,420.0,0.0,24.0

In [193]:
# cek kembali hasil imputer, apakah missing valuesnya masih ada atau tidak
x_train_num_imputed.isnull().sum()

LotFrontage    0
LotArea        0
MasVnrArea     0
BsmtFinSF1     0
1stFlrSF       0
2ndFlrSF       0
GarageCars     0
GarageArea     0
WoodDeckSF     0
OpenPorchSF    0
dtype: int64

## Categorical Imputation

In [194]:
# check missing values in x_train_cat
x_train_cat.isnull().sum()

MasVnrType        7
HouseStyle        0
BsmtQual         26
BsmtExposure     27
BsmtFinType1     26
GarageType       68
GarageFinish     68
SaleType          0
SaleCondition     0
dtype: int64

In [195]:
# replace missing value with new category ="KOSONG"
x_train_cat_imputed = x_train_cat.fillna(value="KOSONG")

In [196]:
# periksa kembali missing valuesnya
x_train_cat_imputed.isnull().sum()

MasVnrType       0
HouseStyle       0
BsmtQual         0
BsmtExposure     0
BsmtFinType1     0
GarageType       0
GarageFinish     0
SaleType         0
SaleCondition    0
dtype: int64

## Make a Function
* Make a function for numerical imputation

In [197]:
# function definition
from sklearn.preprocessing import Imputer

def numericalImputation(data):
    imputer = Imputer(missing_values='NaN', strategy='median') 
    imputer.fit(data)
    data_imputed = pd.DataFrame(imputer.transform(data))
    data_imputed.columns = data.columns
    data_imputed.index =  data.index
    
    return data_imputed, imputer

In [198]:
# return imputed data and imputer
x_train_num_imputed , imputer = numericalImputation(x_train_num)

In [199]:
# check imputed data
x_train_num_imputed.isnull().sum()

LotFrontage    0
LotArea        0
MasVnrArea     0
BsmtFinSF1     0
1stFlrSF       0
2ndFlrSF       0
GarageCars     0
GarageArea     0
WoodDeckSF     0
OpenPorchSF    0
dtype: int64

In [200]:
# dump imputer
# from sklearn.externals import joblib
from sklearn.externals import joblib
joblib.dump(imputer,'Imputer.pkl')

['Imputer.pkl']

 * Make a function for categorical imputation

In [201]:
# function definition
def categoricalImputation(data):
    data_cat_imputed = data.fillna(value="KOSONG")
    return data_cat_imputed

In [202]:
# return imputed data
x_train_cat_imputed = categoricalImputation(x_train_cat)
x_train_cat_imputed.isnull().sum()

MasVnrType       0
HouseStyle       0
BsmtQual         0
BsmtExposure     0
BsmtFinType1     0
GarageType       0
GarageFinish     0
SaleType         0
SaleCondition    0
dtype: int64

## Preprocessing Categorical Variables

* create dummy variable for each of categorical variable

In [203]:
# create dummies
categorical_dummies =  pd.get_dummies(x_train_cat_imputed)

In [204]:
# periksa top observations
categorical_dummies.head()

,MasVnrType_BrkCmn,MasVnrType_BrkFace,MasVnrType_KOSONG,MasVnrType_None,MasVnrType_Stone,HouseStyle_1.5Fin,HouseStyle_1.5Unf,HouseStyle_1Story,HouseStyle_2.5Fin,HouseStyle_2.5Unf,...,SaleType_ConLw,SaleType_New,SaleType_Oth,SaleType_WD,SaleCondition_Abnorml,SaleCondition_AdjLand,SaleCondition_Alloca,SaleCondition_Family,SaleCondition_Normal,SaleCondition_Partial
657,0,0,0,1,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,1,0
965,0,0,0,1,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,1
1441,0,1,0,0,0,0,0,1,0,0,...,0,0,0,1,0,0,0,0,1,0
1444,0,1,0,0,0,0,0,1,0,0,...,0,0,0,1,0,0,0,0,1,0
522,0,0,0,1,0,1,0,0,0,0,...,0,0,0,1,0,0,0,0,1,0

### Make a function to get the dummies

In [205]:
# funtion definition
def categoricalDummies(data):
    cat_dummies = pd.get_dummies(data)
    
    return cat_dummies, cat_dummies.columns

In [206]:
categorical_dummies, dummy_col = categoricalDummies(x_train_cat_imputed)

In [207]:
# dump dummy_columns
from sklearn.externals import joblib
joblib.dump(dummy_col,'dummy_col.pkl')

['dummy_col.pkl']

In [208]:
# check the top observations
categorical_dummies.head()

,MasVnrType_BrkCmn,MasVnrType_BrkFace,MasVnrType_KOSONG,MasVnrType_None,MasVnrType_Stone,HouseStyle_1.5Fin,HouseStyle_1.5Unf,HouseStyle_1Story,HouseStyle_2.5Fin,HouseStyle_2.5Unf,...,SaleType_ConLw,SaleType_New,SaleType_Oth,SaleType_WD,SaleCondition_Abnorml,SaleCondition_AdjLand,SaleCondition_Alloca,SaleCondition_Family,SaleCondition_Normal,SaleCondition_Partial
657,0,0,0,1,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,1,0
965,0,0,0,1,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,1
1441,0,1,0,0,0,0,0,1,0,0,...,0,0,0,1,0,0,0,0,1,0
1444,0,1,0,0,0,0,0,1,0,0,...,0,0,0,1,0,0,0,0,1,0
522,0,0,0,1,0,1,0,0,0,0,...,0,0,0,1,0,0,0,0,1,0

## Join data Numerical dan Categorical

In [209]:
# ambil variabel numerical yang sudah tidak memiliki missing values dan variabel kategori yang sudah menjadi dummy
# satukan kembali kolom tersebut menjadi x_train_concat
x_train_concat = pd.concat([x_train_num_imputed,categorical_dummies],axis = 1)

In [210]:
x_train_concat.head()

,LotFrontage,LotArea,MasVnrArea,BsmtFinSF1,1stFlrSF,2ndFlrSF,GarageCars,GarageArea,WoodDeckSF,OpenPorchSF,...,SaleType_ConLw,SaleType_New,SaleType_Oth,SaleType_WD,SaleCondition_Abnorml,SaleCondition_AdjLand,SaleCondition_Alloca,SaleCondition_Family,SaleCondition_Normal,SaleCondition_Partial
657,60.0,7200.0,0.0,0.0,851.0,651.0,1.0,270.0,0.0,0.0,...,0,0,0,1,0,0,0,0,1,0
965,65.0,10237.0,0.0,0.0,783.0,701.0,2.0,393.0,0.0,72.0,...,0,1,0,0,0,0,0,0,0,1
1441,68.0,4426.0,147.0,697.0,848.0,0.0,2.0,420.0,149.0,0.0,...,0,0,0,1,0,0,0,0,1,0
1444,63.0,8500.0,106.0,0.0,1422.0,0.0,2.0,626.0,192.0,60.0,...,0,0,0,1,0,0,0,0,1,0
522,50.0,5000.0,0.0,399.0,1004.0,660.0,2.0,420.0,0.0,24.0,...,0,0,0,1,0,0,0,0,1,0

In [211]:
# Check NaN values
x_train_concat.isnull().sum().sum()

0

## Standardizing Variables

- KEGUNAAN: Menyamakan skala dari variable input
- fit: imputer agar mengetahui mean standard deviasi dari setiap column
- transform: isi data dengan value yang dinormalisasi
- output dari transform berupda pd dataframe
- normalize dikeluarkan karena akan dipakai di test

In [212]:
#Import Standard Scaler
from sklearn.preprocessing import StandardScaler
standardizer = StandardScaler()

In [213]:
# define function for standardizing data
def standardize(data):
    standardizer = StandardScaler()
    standardizer.fit(data)
    
    data_standard = pd.DataFrame(standardizer.transform(data), index=data.index)
    data_standard.columns = data.columns
    
    return data_standard, standardizer

In [214]:
# return standardized data and standardizer
x_train_clean, normalizer = standardize(x_train_concat)

In [215]:
# dump standardizer
from sklearn.externals import joblib
joblib.dump(normalizer,'normalizer.pkl')

['normalizer.pkl']

In [216]:
# check data
x_train_clean.head()

,LotFrontage,LotArea,MasVnrArea,BsmtFinSF1,1stFlrSF,2ndFlrSF,GarageCars,GarageArea,WoodDeckSF,OpenPorchSF,...,SaleType_ConLw,SaleType_New,SaleType_Oth,SaleType_WD,SaleCondition_Abnorml,SaleCondition_AdjLand,SaleCondition_Alloca,SaleCondition_Family,SaleCondition_Normal,SaleCondition_Partial
657,-0.459996,-0.326654,-0.558175,-1.008986,-0.822100,0.679145,-1.022443,-0.952439,-0.753305,-0.704892,...,-0.065597,-0.307810,-0.041434,0.392814,-0.273104,-0.058646,-0.092968,-0.114109,0.471158,-0.309475
965,-0.215433,-0.042901,-0.558175,-1.008986,-1.001643,0.793097,0.307759,-0.374271,-0.753305,0.388821,...,-0.065597,3.248762,-0.041434,-2.545735,-0.273104,-0.058646,-0.092968,-0.114109,-2.122432,3.231281
1441,-0.068696,-0.585834,0.257985,0.579047,-0.830021,-0.804516,0.307759,-0.247357,0.433644,-0.704892,...,-0.065597,-0.307810,-0.041434,0.392814,-0.273104,-0.058646,-0.092968,-0.114109,0.471158,-0.309475
1444,-0.313258,-0.205192,0.030349,-1.008986,0.685537,-0.804516,0.307759,0.720956,0.776186,0.206536,...,-0.065597,-0.307810,-0.041434,0.392814,-0.273104,-0.058646,-0.092968,-0.114109,0.471158,-0.309475
522,-0.949121,-0.532204,-0.558175,-0.099911,-0.418127,0.699656,0.307759,-0.247357,-0.753305,-0.340321,...,-0.065597,-0.307810,-0.041434,0.392814,-0.273104,-0.058646,-0.092968,-0.114109,0.471158,-0.309475

## 3. <font color='blue'>Training Machine Learning</font>

* Kita harus mengalahkan benchmark
* Choose Score to optimize and Hyperparameter Space
* Cross-Validation: Random Search CV

### Benchmark:

In [217]:
y_train.value_counts(normalize = True).value_counts()

0.000857    362
0.001714     87
0.002571     49
0.003428     28
0.004284     16
0.005141     12
0.006855      7
0.005998      7
0.009426      3
0.008569      2
0.007712      2
0.011140      1
0.012853      1
0.013710      1
Name: SalePrice, dtype: int64

In [218]:
from sklearn.tree import DecisionTreeClassifier
decTree = DecisionTreeClassifier(random_state=123)

In [219]:
decTree.fit(x_train_clean,y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_split=1e-07, min_samples_leaf=1,
            min_samples_split=2, min_weight_fraction_leaf=0.0,
            presort=False, random_state=123, splitter='best')

In [220]:
decTree.score(x_train_clean,y_train)

0.99828620394173095

In [221]:
from sklearn.model_selection import RandomizedSearchCV

In [222]:
decTree_param = {'max_depth':[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12] }

randomdecTree = RandomizedSearchCV(DecisionTreeClassifier(random_state=123), param_distributions=decTree_param, n_iter=5, cv = 5, scoring ='accuracy')

In [223]:
randomdecTree.fit(x_train_clean,y_train)

C:\Users\LENOVO\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:581: Warning: The least populated class in y has only 1 members, which is too few. The minimum number of groups for any class cannot be less than n_splits=5.
  % (min_groups, self.n_splits)), Warning)

RandomizedSearchCV(cv=5, error_score='raise',
          estimator=DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_split=1e-07, min_samples_leaf=1,
            min_samples_split=2, min_weight_fraction_leaf=0.0,
            presort=False, random_state=123, splitter='best'),
          fit_params={}, iid=True, n_iter=5, n_jobs=1,
          param_distributions={'max_depth': [2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]},
          pre_dispatch='2*n_jobs', random_state=None, refit=True,
          return_train_score=True, scoring='accuracy', verbose=0)

In [224]:
randomdecTree.score(x_train_clean,y_train)

0.024850042844901457

In [225]:
randomdecTree.best_params_

{'max_depth': 2}

In [226]:
best_decTree = DecisionTreeClassifier(max_depth = randomdecTree.best_params_.get('max_depth'))

In [227]:
best_decTree.fit(x_train_clean, y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=2,
            max_features=None, max_leaf_nodes=None,
            min_impurity_split=1e-07, min_samples_leaf=1,
            min_samples_split=2, min_weight_fraction_leaf=0.0,
            presort=False, random_state=None, splitter='best')

In [228]:
joblib.dump(best_decTree,'Best_DT.pkl')

['Best_DT.pkl']

## 4. <font color='blue'>Test Prediction</font>

### Preprocessing Test Data

Buat lah sebuah function untuk preprocessing data test. Preprocessing yang dilakukan yakni imputation (numeric and categorical) dan standardizing.
 

Function dinamakan dengan `extract_test` dan menerima 6 argument yaitu:
 1. `data` : Data yang ingin diolah
 2. `numerical_columns`   : Nama kolom numerik
 3. `categorical_columns` : Nama kolom kategorik
 4. `dummies_columns`     : Nama kolom dummy
 5. `imput_numericals`    : Imputer untuk data numerical (hasil preprocessing data training)
 6. `standardizer`        : Standardizer (hasil preprocessing data training)
 
 
Lalu assign function tersebut pada suatu variabel yang dengan nama `x_test_clean`

In [229]:
# function definition
def extractTest(data, numerical_columns, categorical_columns, dummy_column, imput_numericals, standardizer):
        
    numerical_data = data[numerical_columns]
    categorical_data = data[categorical_columns]
    
    numerical_data = pd.DataFrame(imput_numericals.transform(numerical_data)) # imput numerical test
    numerical_data.columns = numerical_columns
    numerical_data.index = data.index
    categorical_data = categorical_data.fillna(value="KOSONG") # imput categorical
    categorical_data.index = data.index
    categorical_data = pd.get_dummies(categorical_data) # Dummies categorical
    x_valid = pd.concat([ numerical_data, categorical_data], axis = 1)
    x_valid_transform = pd.DataFrame(standardizer.transform(x_valid)) # standardization
    x_valid_transform.columns = x_valid.columns # samakan nama column
    x_valid_transform.index = x_valid.index
    
    return x_valid_transform

In [230]:
# load necessary object
# object = joblib.load("filename.pkl")
num_columns = list(x_train_num_imputed.columns.values)
cat_columns = list(x_train_cat_imputed.columns.values)
dummy_col = joblib.load('dummy_col.pkl')
imput = joblib.load('Imputer.pkl')
standardizer = joblib.load('normalizer.pkl')

In [ ]:
x_test_clean = extractTest(x_test, num_columns, cat_columns, dummy_col, imput, standardizer)